<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
<body ng-app="myApp">

         <div ng-controller="participanteController">
             <button ng-click="acrescentarAvalista()">Acrescentar Avalista</button>
            <ul class="nav nav-tabs">
                <li ng-repeat="nome in participantes" class="nav-item">
                    <a href="#{{$index}}" data-target="#tab{{$index }}" data-toggle="tab" ng-class="{active: $index == 0}" class="nav-link">{{nome.nome}}</a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane" id="tab{{$index}}" ng-repeat="nome in participantes" ng-class="{active: $index == 0}">
                    <p>This is the content for {{nome.nome}}</p>
                </div>
            </div>
        </div>
  
  <div class="teste">Fora do tab</div>
  <div class="teste">Fora do tab</div>
  <div class="teste">Fora do tab</div>
  
</body>
</html>

